.img {
  display: block;
  margin: 0 auto;
  height: 15vh;
}

.input {
  display: block;
  outline: none;
  margin: 0 auto;
  border: 0.2vw solid silver;
  width: 15vw;
}

.add_button {
  background-color: #fe3f23;
  color: white;
  font-family: sans-serif;
  width: 6vw;
  height: 5vh;
  margin-top: 0.8vh;
  font-size: 3.1vh;
  text-align: center;
  border: none;
}

.add_button:hover {
  background-color: #fd1313;
}
