.modal {
  position: fixed;
  top: 32vh;
  left: 25%;
  width: 50%;
  height: 37vh;
  z-index: 100;
  background-color: #faf3ecd8;
  border-radius: 2em;
  overflow: hidden;
}

.header {
  background: red;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 3em;
}

.content {
  padding: 1rem;
  text-align: center;
  font-family: cursive;
  font-size: 2em;
  color: red;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.buttons {
  background-color: rgba(255, 81, 0, 0.932);
  width: 7em;
  height: 3em;
  border-radius: 3em;
  color: white;
}

.buttons:hover {
  background-color: red;
}
