.main {
  background-image: url(../../public//images/main.png);
  background-repeat: no-repeat;
  background-size: 100% 170vh;
  width: 100%;
  height: 170vh;
}

.head {
  width: 30vw;
  height: 5vh;
  position: relative;
  top: 0vh;
  left: 3vw;
}

.span-p2-one {
  display: inline-block;
  width: 25vw;
  height: 8vh;
  font-family: sans-serif;
  font-size: 1.4vw;
  color: red;
}

.restaurant-name {
  text-transform: capitalize;
}

.orders {
  width: 76vw;
  background: #faf3ecd8;
  border: 1px solid #d67641;
  box-sizing: border-box;
  margin: auto;
  border: 0.1vh solid red;
  display: flex;
  flex-direction: column;
}

.order-list {
  height: 47vh;
  box-sizing: border-box;
  justify-content: space-evenly;
  overflow-y: scroll;
  flex-grow: 1; /* Allow the container to take available space */
}

.order-list::-webkit-scrollbar {
  width: 1vh;
}

.order-list::-webkit-scrollbar-track {
  background: none;
  border-radius: 1vh;
}

.order-list::-webkit-scrollbar-thumb {
  background-color: rgb(255, 102, 0);
  border-radius: 1vh;
}

.in-process {
  text-align: center;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2em;
}

.noOrders {
  color: red;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 3em;
}
