.main {
  background-image: url(../../public//images/main.png);
  background-repeat: no-repeat;
  background-size: 100% 80vh;
  width: 100%;
  height: 80vh;
}

.MainContent {
  display: flex;
  height: 80%;
}

.RestaurentList {
  box-sizing: border-box;
  margin-left: 5%;
  margin-top: 2vh;
  width: 65%;
  height: 100%;
  padding: 2vh;
  background-color: #ffe7da;
  overflow-y: scroll;
  overflow-x: hidden;
}

.RestaurentList::-webkit-scrollbar {
  width: 1vh;
}

.RestaurentList::-webkit-scrollbar-track {
  background-color: #ffe7da;
  border-radius: 18vh;
}

.RestaurentList::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 18vh;
}

.shoppingList {
  /* box-sizing: border-box; */
  margin-left: 3%;
  margin-top: 5vh;
  width: 40vh;
  padding: 2vh;
  background-color: #f8d7c8;
  text-align: center;
}
